.lp {
  position: relative;
  background-color: #F7F8FA;
}
.lp .lp__grid {
  display: flex;
  align-items: center;
}
.lp .lp__grid.lp__grid--right {
  justify-content: flex-end;
}
.lp .lp__grid.lp__grid--right .lp__numb {
  left: auto;
  right: -50px;
}
.lp .lp__img {
  position: relative;
  width: 50%;
  min-height: 500px;
  background-color: #eee;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
}
.lp .lp__content {
  position: relative;
  width: 400px;
  padding: 60px;
}
.lp .lp__numb {
  position: absolute;
  left: -70px;
  top: -70px;
  margin: 0;
  line-height: 1;
  font-family: "nunitobold", Arial, sans-serif;
  font-size: 250px;
  font-weight: 900;
  color: #eee;
  letter-spacing: 0;
  z-index: 3;
}
.lp .lp__title {
  position: relative;
  font-family: "nunitobold", Arial, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 30px;
  color: #333333;
  letter-spacing: 0;
  margin: 0 0 30px 0;
  z-index: 5;
}
.lp .lp__text {
  position: relative;
  display: block;
  font-family: "nunitoregular", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  letter-spacing: 0;
  margin: 0;
  z-index: 5;
}
.lp .lp__slogan {
  position: relative;
  font-family: "nunitobold", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  color: #333333;
  margin: 0 0 10px 0;
  z-index: 5;
}
@media only screen and (min-width: 1600px) {
  .lp .lp__img.lp__img--1 {
    background-image: url('img/xlg/block-1.jpg');
  }
  .lp .lp__img.lp__img--2 {
    background-image: url('img/xlg/block-2.jpg');
  }
  .lp .lp__img.lp__img--3 {
    background-image: url('img/xlg/block-3.jpg');
  }
  .lp .lp__img.lp__img--4 {
    background-image: url('img/xlg/block-4.jpg');
  }
}
@media only screen and (min-width: 1221px) and (max-width: 1599px) {
  .lp .lp__img.lp__img--1 {
    background-image: url('img/lg/block-1.jpg');
  }
  .lp .lp__img.lp__img--2 {
    background-image: url('img/lg/block-2.jpg');
  }
  .lp .lp__img.lp__img--3 {
    background-image: url('img/lg/block-3.jpg');
  }
  .lp .lp__img.lp__img--4 {
    background-image: url('img/lg/block-4.jpg');
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1220px) {
  .lp .lp__img.lp__img--1 {
    background-image: url('img/lg/block-1.jpg');
  }
  .lp .lp__img.lp__img--2 {
    background-image: url('img/lg/block-2.jpg');
  }
  .lp .lp__img.lp__img--3 {
    background-image: url('img/lg/block-3.jpg');
  }
  .lp .lp__img.lp__img--4 {
    background-image: url('img/lg/block-4.jpg');
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .lp .lp__img.lp__img--1 {
    background-image: url('img/lg/block-1.jpg');
  }
  .lp .lp__img.lp__img--2 {
    background-image: url('img/lg/block-2.jpg');
  }
  .lp .lp__img.lp__img--3 {
    background-image: url('img/lg/block-3.jpg');
  }
  .lp .lp__img.lp__img--4 {
    background-image: url('img/lg/block-4.jpg');
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .lp .lp__img.lp__img--1 {
    background-image: url('img/xs/block-1.jpg');
  }
  .lp .lp__img.lp__img--2 {
    background-image: url('img/xs/block-2.jpg');
  }
  .lp .lp__img.lp__img--3 {
    background-image: url('img/xs/block-3.jpg');
  }
  .lp .lp__img.lp__img--4 {
    background-image: url('img/xs/block-4.jpg');
  }
}
